/* ------- Fonts --------------------- */

* {
  font-family: 'Montserrat', sans-serif;
}

/* ------- Main Styles --------------------- */

body {
  background-color: #dff2f1;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.headline {
  color: darkslategrey;
  text-shadow: 5px 3px 3px cyan;
  margin-top: 30px;
}

.title-logo {
  max-height: 220px;
  max-width: 420px;
}

.section-headline {
  color: darkslategrey;
  text-shadow: 5px 3px 3px cadetblue;
  margin: 30px 0;
}

.text {
  text-shadow: 1px 2px 2px khaki;
  max-width: 600px;
  line-height: 1.4;
}

/* .tiles {
  display: flex;
  flex-wrap: wrap;
} */

.tile, .hero {
  margin: 0 40px 30px 20px;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
}

.tile, .tile img, .hero, .hero img {
  height: 200px;
  width: 200px;
  border-radius: 3px;
}

.with-icon {
  position: relative;
}

img.icon-1 {
  position: absolute;
  height: 110px;
  width: 145px;
  top: -40px;
  left: 105px;
}

img.icon-2 {
  position: absolute;
  height: 85px;
  width: 65px;
  top: 122px;
  left: 150px;
}

img.icon-3 {
  position: absolute;
  height: 90px;
  width: 65px;
  top: 10px;
  left: -15px;
}

img.icon-4 {
  position: absolute;
  height: 90px;
  width: 65px;
  top: 80px;
  left: -30px;
}

.text-link,
.text-link:visited {
  color: brown;
  text-shadow: 5px 3px 3px lightpink;
  transition-duration: 0.4s;
}

.text-link:hover {
  text-shadow: 5px 3px 3px lightsalmon;
}

footer {
  margin-top: 40px;
  color: darkgray;
  font-style: italic;
  font-size: 0.8rem;
}

.clear {
  clear: both;
}

@media all and (min-width: 425px) {
  .tile, .hero {
    float: left;
  }
}

@media all and (min-width: 555px) {
  .clear {
    clear: none;
  }
}

@media all and (min-width: 590px) {
  .tile, .hero {
    float: none;
  }

  .section-content {
    display: flex;
  }

  .text {
    margin-top: 0;
  }
}

@media all and (min-width: 820px) {
  .headline {
    font-size: 50px;
  }

  .main-wrapper {
    margin: 10px auto;
    padding: 0 40px;
    max-width: 900px;
  }
}


@media all and (min-width: 990px) {
  .headline {
    font-size: 60px;
  }
}

/* ------- Tile Animations --------------------- */

/* https://codepen.io/chrisdothtml/pen/OVmgwK?editors=0100 */

/* .tile {
  position: relative;
  overflow: hidden;
}

.tile:before {
  content: '';
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 70%;
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 2;
}

.tile .details {
  font-size: 16px;
  padding: 0 18px 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.tile .details .title {
  display: block;
  line-height: 1;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.tile .details .info {
  display: none;
}

@media all and (min-width: 900px) {
  .tile .details {
    padding: 20px;
  }

  .tile .details .title {
    font-size: 18px;
    text-align: left;
  }

  .tile .details .info {
    display: block;
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
  }
}

@media (hover: hover) {
  .tiles {
    font-size: 0;
  }

  .tile:before {
    opacity: 0;
    top: 100%;
    transition-property: top, opacity;
    transition-duration: 0.3s;
  }

  .tile .details span {
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
  }

  .tile:hover:before, .tile:hover span {
    opacity: 1;
  }

  .tile:hover:before {
    top: 30%;
  }

  .tile:hover span {
    top: 0;
  }

  .tile:hover .title {
    transition-delay: 0.15s;
  }

  .tile:hover .info {
    transition-delay: 0.25s;
  }
} */